html {
    margin: 0;
    padding: 0;
    background-image: url(./assets/pexels-min-an-1482803.jpg);
    background-size: cover;
}

body {
    margin-top: 20px;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    background-color: rgba(78, 224, 230, 0.959);
    opacity: 0.935; /*0.935*/
    border-radius: 10px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 38px;
    text-shadow: 2px 2px 2px gray;
    box-sizing: border-box;
}
h5 {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 15.2px;
    
}

input {
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}